/* Google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2A2829;
    background-color: hsl(60, 7%, 87%);
    height: 100%;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 240%;
    text-transform: capitalize;

}

/* Navigation styling  */

/* Fixed header  */

#header {
    width: 100%;
    position: fixed;
    background-color: hsl(60, 7%, 87%);
    z-index: 1;
}


#site-title {
    float: left;
    margin-left: 25px;
    padding: 10px;
    color: hsl(218, 37%, 23%);

}


#nav-menu li {
    list-style-type: none;
    margin-right: 40px;
}


/* Solution for reversed nav items, found on Stack Overflow. To float the list to the right, and then the list items to the left to create the correct ordered display  */

#header ul {
    float: right;
}

#header li {
    float: left;
}

#nav-menu a {
    text-decoration: none;
    color: hsl(218, 37%, 23%);
}

#nav-menu {
    font-size: 120%;
}

#nav-menu,
#site-title {
    line-height: 60px;
    padding: 5px;
}

/* Hover and underline effects for navigation section  */

#nav-menu a:hover {
    border-bottom: 1px solid hsl(218, 37%, 23%);
}

.active {
    border-bottom: 1px solid hsl(218, 37%, 23%);
}

/* Banner image section */

#banner-section {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;
}

#banner-image {
    height: 1000px;
    width: 100%;
    background: url('../images/hero-image.jpg') center center / cover no-repeat fixed;
}

#banner-text {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    width: 33%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* About Us section  */
/* Layout created using inspiration from Love Running project walkthrough  */
/* scroll-margin-top fix for anchor behind sticky header found here: https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css/ */

#about-us {
    height: 25%;
    margin: 3%;
    scroll-margin-top: 10em;

}

#left-column {
    padding-top: 25px;
    width: 33%;
    float: left;

}

#right-column {
    padding: 25px 10px 10px 10px;
    width: 33%;
    float: right;
    list-style-position: inside;
}

/* Found the list style position code below on Stack Overflow, to keep the unordered list bullets attached to text  */

#center-column {
    padding: 25px 10px 10px 10px;
    width: 33%;
    margin: 0 auto;
    list-style-position: inside;

}

/* Gallery section  */

#gallery {
    clear: both;
    column-count: 3;
    line-height: 0;
    column-gap: 1px;
    margin: 50px 30px 50px 30px;
    scroll-margin-top: 10em;

}

#gallery img {
    width: 100%;
    margin: 1px;
}


/* /* Contact us section styling  */

#contact-us {
    height: 50%;
    scroll-margin-top: 10em;
}

/* Help with responsive form came from W3Schools tutorial: https://www.w3schools.com/howto/howto_css_responsive_form.asp */

input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #605552;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 200px
}

/* Labels next to inputs */

label {
    padding: 15px 15px 15px 0;
    display: inline-block;
}

/* Submit button - help obtained from W3Schools tutorial for styling: https://www.w3schools.com/css/css_form.asp */

input[type=submit] {
    background-color: hsl(218, 37%, 23%);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: auto;
    width: 100%;
    margin-top: 15px;
}

input[type=submit]:hover {
    color: #fff;
    background-color: #f16c6b;
}

/* Form container styling */
.form-container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 20% 5px 20%;
}

/* Floated column for labels */
.labels {
    float: left;
    width: 25%;
    margin-top: 8px;
}

.labels p {
    float: left;
    width: 40%;
    margin-top: 8px;
}

/* Inputs: 75% width */
.inputs {
    float: left;
    width: 75%;
    margin-top: 8px;
    line-height: 0px;
}

/* Clear floats after columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer styling  */

footer {
    height: 200px;
}

#social-icons {
    text-align: center;
    margin-top: 100px;

}

#social-icons li {
    display: inline;
}

#social-icons i {
    font-size: 200%;
    padding: 25px;
    margin: 1%;
    color: hsl(218, 37%, 23%);
}


/* Social media icons in footer */

footer {
    height: 100px;
}

.social-icons {
    text-align: center;
    margin-top: 100px;

}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 200%;
    padding: 5px;
    margin: 2%;
    color: #2A2829;
}

/* Responsive design media queries  */

@media screen and (max-width: 1300px) {

    #about-us {
        width: 80%;
        height: 1000px;
        margin: 0 auto;
        padding-top: 20px
    }

    #left-column,
    #right-column {
        float: left;
        width: 100%;
        padding: 0;
    }

    #center-column {
        float: left;
        clear: both;
        padding: 0;
        width: 100%;
        text-align: left;
        margin-bottom: 50px;
    }

    .form-container {
        margin: 20px 5% 5px 5%;
    }

}

@media screen and (max-width: 700px) {
    #banner-text {
        font-size: 70%;
        padding: 1em;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        width: 60%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}


@media screen and (max-width: 500px) {

    #site-title {
        font-size: 150%;
        line-height: 30px;
        padding-top: 30px;
        margin-left: 8px;
    }

    header nav {
        clear: both;
        float: left;
        margin-left: 8px;
    }


    #nav-menu {
        font-size: 100%;

    }

    #nav-menu li {
        left: 0;
        margin: 0;
        padding: 5px;
        letter-spacing: 0px;
    }

    #banner-text {
        font-size: 65%;
        padding: 1em;
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        width: 60%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    #gallery {
        column-count: 2;
    }

    /* form labels and inputs stacking better on narrow screens  */
    .labels,
    .inputs,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}