/* Google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2A2829;
    background-color: hsl(60, 100%, 97%);
    height: 100%;
}

h1,
h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 240%;
    text-transform: uppercase;

}

/* Navigation styling  */

.header {
    width: 100%;
    position: fixed;
    background-color: hsl(60, 100%, 97%);
    z-index: 1;
}


#site-title {
    float: left;
    margin-left: 25px;
    padding: 10px;
    color: hsl(120, 19%, 37%)
}


#nav-menu li {
    list-style-type: none;
    margin-right: 40px;
}


/* Solution for reversed nav items, found on Stack Overflow. To float the list to the right, and then the list items to the left to create the correct ordered display  */

.header ul {
    float: right;
}

.header li {
    float: left;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu {
    font-size: 120%;
}

#nav-menu,
#site-title {
    line-height: 60px;
    padding: 5px;
}

#nav-menu a:hover {
    border-bottom: 1px solid hsl(120, 19%, 37%);
}

.active {
    border-bottom: 1px solid hsl(120, 19%, 37%);
}

/* Banner image section */

#banner-section {
    height: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: white;


}

#banner-image {
    height: 750px;
    width: 100%;
    background: url('/assets/images/hero-image.jpg') center center / cover no-repeat fixed;
}

#banner-text {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    width: 33%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* About Us section  */

#about-us {
    height: 400px;
    margin-right: 3%;
    margin-left: 3%;

}

#left-column {
    padding: 25px 15px 0 30px;
    width: 33%;
    float: left;
    text-align: left;

}

#right-column {
    padding: 25px 15px 0 30px;
    width: 33%;
    float: right;
    text-align: justify;
    list-style-position: inside;
}

/* Found the list style position code below on Stack Overflow, to keep the unordered list bullets attached to text  */

#center-column {
    padding-top: 25px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

/* Gallery section  */

#gallery {
    clear: both;
    column-count: 3;
    line-height: 0;
    column-gap: 1px;
    margin: 50px 30px 50px 30px;

}

#gallery img {
    width: 100%;
    margin: 1px;
}


/* /* Contact us section styling  */


#contact-us-section {
    height: 800px;
    position: relative;
    text-align: center;
    padding: 40px;
}

#contact-us-section h2 {
    padding: 30px;
}

/* box-shadow property obtained from w3schools  */

.contact-form {
    border: 2px solid #2A2829;
    border-radius: 10px;
    padding: 40px;
    width: 33%;
    margin: 0 auto;
    color: #2A2829;
    box-shadow: 10px 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 5px 0 20px 0;
}

input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 5px 0 20px 0;
}

input[type=radio] {
    margin: 5px 0 20px 0;
}

.submit-button {
    padding: 20px 40px 20px 40px;
    text-align: center;
    font-size: 100%;
    display: block;
}

.submit-button:hover {
    background-color: #2A2829;
    color: thistle;

}

/* Social media icons in footer */

footer {
    height: 200px;
}

.social-icons {
    text-align: center;
    margin-top: 100px;

}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 200%;
    padding: 5px;
    margin: 2%;
    color: #2A2829;
}

/* Responsive design media queries  */

@media screen and (max-width: 1100px) {
    #about-us {
        width: 80%;
        height: 1000px;
        margin: 0 auto;
    }

    #left-column,
    #right-column {
        float: left;
        width: 100%;
        padding: 0;
    }

    #center-column {
        float: left;
        clear: both;
        padding: 0;
        width: 100%;
        text-align: left;
    }

}

@media screen and (max-width: 700px) {
    #banner-text {
        font-size: 55%;
    }

    #gallery {
        column-count: 2;
    }

}